.navbar .container {
    padding-left: 5%;
    padding-right: 5%;
}

.userNameInput {
    width: 30%;
}
.passwordInput {
    width: 30%;
}

.newUserForm {
    float: right;
    padding-top: 2vh;
    width: 70%;
}

.navbar {
    height: 70px;
}

.navButtons {
    float: right;
}

.loginButton {
    background-color: #d1d1d1;
}

.content {
    height:auto;
    clear:both;
    overflow:auto;
    min-height:400px;
}

.contact {
    float:right;
}

.requi{
  color:red;
}













