@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

.navbar .container {
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-default {
    background-color: white;
    border-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

.userNameInput {
    width: 30%;
}
.passwordInput {
    width: 30%;
}

.newUserForm {
    float: right;
    padding-top: 2vh;
    width: 70%;
}

.navbar {
    height: 70px;
}

.navButtons {
    float: right;
    margin-bottom: 15px;
}

.loginButton {
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.regButton {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.content {
    height:auto;
    clear:both;
    overflow:auto;
    min-height:400px;
}

.contact {
    float:right;
}

.requi{
  color:red;
}

.slogen {
    width: 100%;
    height: auto;
    position: relative;
}

.slogen .jumbotron {
    background-color: rgba(0, 0, 0, 0.65);
    width: 55%;
    height: 50%;
}

.slogen-back {
    width: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.slogen-block {
    /*background-color: #b1b1b1;*/
    text-align: center;
    position: absolute;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.slogen-title h3{
    /*position: static;*/
    color: white;
    text-align: center;
    margin-top: 0vh;
}

.slogen-btn {
    text-align: center;
}

.slogen-btn .btn-default {
    border: none;
    color: white;
    background-color: rgba(96,96,96,0.7);
}

.slogen-btn .btn-default:hover  {
    background: (200,200,200,0.8);
}

.slogen-btn .btn-default:focus  {
    background: (160,160,160,0.7);
}

.slogen-btn .btn-default:active  {
    background: (160,160,160,0.7);
}

.second-btn {
}

.user-block {
    margin-top: 15px;
    padding-top: 15px;
    background-image: url("../img/pat.png");
    position: relative;
}

.user-container {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.user-icon {
    width: 100px;
    height: 100px;

    margin-top: -50px;
    margin-left: 5%;
    border: solid white;
}

.user-back-img {
    width: 100%;
    height: auto;
}

.user-back-holds {
    position: absolute;
    top: 0;
    color: white;
    margin-top: -25px;
}

.user-back-hold-left {
    margin-left: 10vw;
    position: absolute;
}

.user-back-hold-right {
    margin-left: 70vw;
    position: absolute;
}

.user-back-hold h3{
    margin-left: 6px;
    margin-bottom: -17px;
}

.user-name {
    margin-top: -56px;
    margin-left: 24%;
}

.user-name h3 {
    font-size: 22px;
    font-weight: 400;
    border-left: 3px solid #ff0000;
}

.user-name p {
    font-size: 13px;
    margin-left: 2%;
}

.user-profile {
    margin-left: 3%;
}

.user-profile p {
    font-size: 10px;
}

.profile-right {
    float: right;
}

.profile_1 {
    position: absolute;
    margin-left: -27%;
}

.gender {
    margin-bottom: 3px;
    margin-top: 9px;
}

.profile_2 {
    position: absolute;
    margin-left: -15%;
    margin-top: 18px;
}

.profile_pipe {
    position: absolute;
    margin-left: -18%;
    font-size: 28px;
    font-weight: 100;
    margin-top: 3px;
    color: silver;
}

.contact_user {
    margin-top: 10px;
}

.line_horizontal{
    text-align: center;
}

.line_horizontal_left {
    width: 49%;
    height: 1px;
    background-color: silver;
}

.line_dot {
    display: inline-block;
    position: absolute;
    margin-top: -3px;
}

.line_horizontal_right {
    width: 48%;
    height: 1px;
    background-color: silver;
    float: right;
}

.page_left {
    width: 50%;
    padding-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}

.page_right {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 30px;
}

.layout-icon {
    transform: scale(.8);
    margin-top: -11px;
    margin-left: -5%;
}

.about-me-icon {
    width: 50px;
    height: 50px;
    background: url(../img/tico.png) 0 0;
}

.living-habit-icon {
    width: 50px;
    height: 50px;
    background: url(../img/tico.png) 50px 0;
}

.my-tags-icon {
    width: 50px;
    height: 50px;
    background: url(../img/tico.png) 100px 0;
}

.ideal-roommates-icon {
    width: 50px;
    height: 50px;
    background: url(../img/tico.png) 150px 0;
}

.paragraph {
    width: 70%;
    margin-top: -71px;
    margin-left: 21%;
}

.para-title {
    font-size: 15px;
}

.para-text {
    font-size: 10px;
}

.layout-block {
    padding-top: 50px;
}

.label_tag {
    line-height: 35px;
}

.habit-block {
    padding-bottom: 30px;
}

.habit-icon {
    transform: scale(.8);
    margin-top: -11px;
}

.habit-time {
    width: 34px;
    height: 34px;
    background: url(../img/cico.png) 0 0;
}

.habit-clean {
    width: 34px;
    height: 34px;
    background: url(../img/cico.png) 68px 0;
}

.habit-noise {
    width: 34px;
    height: 34px;
    background: url(../img/cico.png) 34px 0;
}

.habit-social {
    width: 34px;
    height: 34px;
    background: url(../img/cico.png) 0 34px;
}

.habit-smoke {
    width: 34px;
    height: 34px;
    background: url(../img/cico.png) 68px 34px;
}

.habit-etc {
    width: 34px;
    height: 34px;
    background: url(../img/cico.png) 34px 34px;
}

.habit-text {
    margin-top: -26px;
    line-height: 20px;
}

.habit-text p {
    margin-bottom: 0;
    font-size: 10px;
}

.habit-dot {
    position: absolute;
    top: 0;
    margin-top: 7px;
    margin-left: -12px;
}

.line_vertical {
    width: 1px;
    height: 100%;
    background-color: silver;
    position: absolute;
    text-align: center;
    margin-left: 50%;
}

.layout-height {
    position: relative;
}

.layout-height-clear {
    padding-left: 3px; 
    margin-top: 10px;
}

.show-group {
    width: 100%;
}

.show-item {
    display: inline-block;
    width: 33%;
    padding-bottom: 30px;
}

.show-icons {
    transform: scale(.7);
}

.show-title {
    text-align: center;
    margin-top: -9px;
}

.show-content {
    text-align: center;
    font-size: 10px;
}

.show-icon-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background: url(../img/slogan.png) 0 0;
}

.show-icon-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background: url(../img/slogan.png) 400px 0;
}

.show-icon-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background: url(../img/slogan.png) 200px 0;
}

.show-line {
    height: 1px;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: silver;
}

.line-text {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -10px;
    background-color: white;
}

.line-text p{
    display: inline;
}

.user-num {
    color: red;
}

.create-mine {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

