<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>WePromote Advertisement</title>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link href="../../css/adv.css" rel="stylesheet">

  </head>
  <body>

    <div class="user-profile container">
      <div class="jumbotron">
        <div class="profile-block">
          <img src="../../img/weChatPage.png" class="user-icon img-circle" height="50">
          <div class="user-name">WePromote</div>
          <div class="account-title">微信号: </div>
          <div class="account-name">dummydummy</div>
          <div class="subtitle">功能详情</div>
          <div class="jumbotron content-detail">dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy.</div>
        </div>
      </div>
    </div>

    <div class="history-title">历史消息</div>
    <div class="history-message container">
      <div class="jumbotron">

        <div>
          <div class="message-time">xxxx年xx月xx日</div>
          <div class="message-title">
            <h1>title</h1>
          </div>
          <img src="../../img/weChatPage.jpg" class="history-pic">
          <div class="message-p">
            <p>qi shi shi cai zai dian ni</p>
          </div>
          <div class="message-list">
            <div class="row">
              <div class="message-text col-xs-10">yue du yuan wen</div>
              <div class="message-pic col-xs-2"> > </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="nav-text-black enter">进入</div>
        <div class="logo">
          <img src="../../img/weChatPage.png" class="logo-pic img-circle">
        </div>
        <div class="nav-text-black">WePromote</div>
      </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../scripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>